body {
  background-color: burlywood;

}

@media (max-width: 1000px) {
  body { 
  background-color: bisque;
  }
}

@media (min-width: 1300px) {
  body {
  background-color: rosybrown;
}
}

p {
   color: #4A3728; 
   font-size: 16px;
    font-family: 'Crimson';
    text-align: center; 
  }

  h1 {
    color: #3B2B1F;
    font-size: 30px;
    font-family: 'Crimson';
    text-align: center;
    border: #3B2B1F double 5px;
    padding: 25px;
    margin: 10px;
  }

  h3 {
    color: #3B2B1F;
    font-size: 20px;
    font-family: 'Crimson';
    text-align: left;
    padding: 10px;
  }

  h4 {
    color: #3b2b1f;
    font-size: 20px;
    font-family: 'Crimson';
    text-align: center;
  }

  li {
    color: #4A3728;
    font-size: 16px;
    font-family: 'Crimson';
    text-align: left;
  }

  .about-cookie {
    width: 500px;
    margin: 10px; 
    font-size: 16px;
}

.about-cookie img {
  height: 50px;
  margin: 50px;
}

.recipe-layout {
  margin: 55px;
  padding: 30px;
  border: #3B2B1F dotted 5px;
 
}

.checked {
  text-decoration: line-through;
}

.right-side {
  float: right;
  width: 50%;
  margin: 400px;
  position: absolute;
   top: 100px;
}


